@font-face {
  font-family: "MonumentExtended";
  src: url(../public/fonts/MonumentExtended-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "MonumentExtended";
  src: url(../public/fonts/MonumentExtended-Ultrabold.otf);
  font-weight: 900;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url(../public/fonts/SpoqaHanSansNeo-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url(../public/fonts/SpoqaHanSansNeo-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url(../public/fonts/SpoqaHanSansNeo-Regular.otf);
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: SpoqaHanSansNeo, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
